<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>episode11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188C788A1CED0C4B00FA9A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188C789E1CED0C4C00FA9A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188C78A91CED0C4C00FA9A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
